<div>
  <h2 id="page-heading" data-cy="EntryHeading">
    <span jhiTranslate="gamificationApp.entry.home.title">Entries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gamificationApp.entry.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entry"
        [routerLink]="['/entry/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gamificationApp.entry.home.createLabel"> Create a new Entry </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entries?.length === 0">
    <span jhiTranslate="gamificationApp.entry.home.notFound">No entries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="entries && entries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.entry.title">Title</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.entry.content">Content</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.entry.date">Date</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.entry.foto">Foto</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.entry.blog">Blog</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.entry.tag">Tag</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entry', entry.id, 'view']">{{ entry.id }}</a>
          </td>
          <td>{{ entry.title }}</td>
          <td>{{ entry.content }}</td>
          <td>{{ entry.date | formatMediumDatetime }}</td>
          <td>
            <a *ngIf="entry.foto" (click)="openFile(entry.foto, entry.fotoContentType)">
              <img [src]="'data:' + entry.fotoContentType + ';base64,' + entry.foto" style="max-height: 30px" alt="entry image" />
            </a>
            <span *ngIf="entry.foto">{{ entry.fotoContentType }}, {{ byteSize(entry.foto) }}</span>
          </td>
          <td>
            <div *ngIf="entry.blog">
              <a [routerLink]="['/blog', entry.blog?.id, 'view']">{{ entry.blog?.name }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let tag of entry.tags; let last = last">
              <a class="form-control-static" [routerLink]="['/tag', tag.id, 'view']">{{ tag.name }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/entry', entry.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/entry', entry.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(entry)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
