<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ogretmen-heading" data-cy="OgretmenCreateUpdateHeading" jhiTranslate="gamificationApp.ogretmen.home.createOrEditLabel">
        Create or edit a Ogretmen
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gamificationApp.ogretmen.aciklama" for="field_aciklama">Aciklama</label>
          <textarea class="form-control" name="aciklama" id="field_aciklama" data-cy="aciklama" formControlName="aciklama"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gamificationApp.ogretmen.ogretmenUser" for="field_ogretmenUser"
            >Ogretmen User</label
          >
          <select class="form-control" id="field_ogretmenUser" data-cy="ogretmenUser" name="ogretmenUser" formControlName="ogretmenUser">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('ogretmenUser')!.value?.id ? editForm.get('ogretmenUser')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
