<div>
  <h2 id="page-heading" data-cy="DersAnalizHeading">
    <span jhiTranslate="gamificationApp.dersAnaliz.home.title">Ders Analizs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gamificationApp.dersAnaliz.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ders-analiz"
        [routerLink]="['/ders-analiz/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gamificationApp.dersAnaliz.home.createLabel"> Create a new Ders Analiz </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dersAnalizs?.length === 0">
    <span jhiTranslate="gamificationApp.dersAnaliz.home.notFound">No dersAnalizs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dersAnalizs && dersAnalizs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.dersAnaliz.toplamYanlis">Toplam Yanlis</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.dersAnaliz.toplamDogru">Toplam Dogru</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.dersAnaliz.cozulenSoru">Cozulen Soru</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.dersAnaliz.tamamlandi">Tamamlandi</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.dersAnaliz.aitOldBolum">Ait Old Bolum</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dersAnaliz of dersAnalizs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ders-analiz', dersAnaliz.id, 'view']">{{ dersAnaliz.id }}</a>
          </td>
          <td>{{ dersAnaliz.toplamYanlis }}</td>
          <td>{{ dersAnaliz.toplamDogru }}</td>
          <td>{{ dersAnaliz.cozulenSoru }}</td>
          <td>{{ dersAnaliz.tamamlandi }}</td>
          <td>
            <div *ngIf="dersAnaliz.aitOldBolum">
              <a [routerLink]="['/bolum', dersAnaliz.aitOldBolum?.id, 'view']">{{ dersAnaliz.aitOldBolum?.bolumBaslik }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ders-analiz', dersAnaliz.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ders-analiz', dersAnaliz.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dersAnaliz)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
