<div>
  <h2 id="page-heading" data-cy="TestAnalizHeading">
    <span jhiTranslate="gamificationApp.testAnaliz.home.title">Test Analizs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gamificationApp.testAnaliz.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-test-analiz"
        [routerLink]="['/test-analiz/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gamificationApp.testAnaliz.home.createLabel"> Create a new Test Analiz </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="testAnalizs?.length === 0">
    <span jhiTranslate="gamificationApp.testAnaliz.home.notFound">No testAnalizs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="testAnalizs && testAnalizs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.testAnaliz.dogru">Dogru</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.testAnaliz.yanlis">Yanlis</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.testAnaliz.bos">Bos</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.testAnaliz.net">Net</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.testAnaliz.tamamlandi">Tamamlandi</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.testAnaliz.testId">Test Id</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.testAnaliz.dersAnaliz">Ders Analiz</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let testAnaliz of testAnalizs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/test-analiz', testAnaliz.id, 'view']">{{ testAnaliz.id }}</a>
          </td>
          <td>{{ testAnaliz.dogru }}</td>
          <td>{{ testAnaliz.yanlis }}</td>
          <td>{{ testAnaliz.bos }}</td>
          <td>{{ testAnaliz.net }}</td>
          <td>{{ testAnaliz.tamamlandi }}</td>
          <td>{{ testAnaliz.testId }}</td>
          <td>
            <div *ngIf="testAnaliz.dersAnaliz">
              <a [routerLink]="['/ders-analiz', testAnaliz.dersAnaliz?.id, 'view']">{{ testAnaliz.dersAnaliz?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/test-analiz', testAnaliz.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/test-analiz', testAnaliz.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(testAnaliz)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
