<div>
  <h2 id="page-heading" data-cy="YorumHeading">
    <span jhiTranslate="gamificationApp.yorum.home.title">Yorums</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gamificationApp.yorum.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-yorum"
        [routerLink]="['/yorum/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gamificationApp.yorum.home.createLabel"> Create a new Yorum </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="yorums?.length === 0">
    <span jhiTranslate="gamificationApp.yorum.home.notFound">No yorums found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="yorums && yorums.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.yorum.yazi">Yazi</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.yorum.date">Date</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.yorum.userYorum">User Yorum</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.yorum.formYorum">Form Yorum</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let yorum of yorums; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/yorum', yorum.id, 'view']">{{ yorum.id }}</a>
          </td>
          <td>{{ yorum.yazi }}</td>
          <td>{{ yorum.date | formatMediumDate }}</td>
          <td>
            {{ yorum.userYorum?.login }}
          </td>
          <td>
            <div *ngIf="yorum.formYorum">
              <a [routerLink]="['/form', yorum.formYorum?.id, 'view']">{{ yorum.formYorum?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/yorum', yorum.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/yorum', yorum.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(yorum)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
