<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="siteInfo">
      <h2 data-cy="siteInfoDetailsHeading"><span jhiTranslate="gamificationApp.siteInfo.detail.title">Site Info</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ siteInfo.id }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.siteInfo.baslik">Baslik</span></dt>
        <dd>
          <span>{{ siteInfo.baslik }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/site-info', siteInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
