<div>
  <h2 id="page-heading" data-cy="SoruTestHeading">
    <span jhiTranslate="gamificationApp.soruTest.home.title">Soru Tests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gamificationApp.soruTest.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-soru-test"
        [routerLink]="['/soru-test/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gamificationApp.soruTest.home.createLabel"> Create a new Soru Test </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="soruTests?.length === 0">
    <span jhiTranslate="gamificationApp.soruTest.home.notFound">No soruTests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="soruTests && soruTests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.tesBaslik">Tes Baslik</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.testPdf">Test Pdf</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.testFoto">Test Foto</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.cevaplar">Cevaplar</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.soruPdfFile">Soru Pdf File</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.soruSayisi">Soru Sayisi</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.seviye">Seviye</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.sorular">Sorular</span></th>
          <th scope="col"><span jhiTranslate="gamificationApp.soruTest.testBolum">Test Bolum</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let soruTest of soruTests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/soru-test', soruTest.id, 'view']">{{ soruTest.id }}</a>
          </td>
          <td>{{ soruTest.tesBaslik }}</td>
          <td>{{ soruTest.testPdf }}</td>
          <td>
            <a *ngIf="soruTest.testFoto" (click)="openFile(soruTest.testFoto, soruTest.testFotoContentType)">
              <img
                [src]="'data:' + soruTest.testFotoContentType + ';base64,' + soruTest.testFoto"
                style="max-height: 30px"
                alt="soruTest image"
              />
            </a>
            <span *ngIf="soruTest.testFoto">{{ soruTest.testFotoContentType }}, {{ byteSize(soruTest.testFoto) }}</span>
          </td>
          <td>{{ soruTest.cevaplar }}</td>
          <td>
            <a
              *ngIf="soruTest.soruPdfFile"
              (click)="openFile(soruTest.soruPdfFile, soruTest.soruPdfFileContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="soruTest.soruPdfFile">{{ soruTest.soruPdfFileContentType }}, {{ byteSize(soruTest.soruPdfFile) }}</span>
          </td>
          <td>{{ soruTest.soruSayisi }}</td>
          <td>{{ soruTest.seviye }}</td>
          <td>
            <span *ngFor="let sorular of soruTest.sorulars; let last = last">
              <a class="form-control-static" [routerLink]="['/soru', sorular.id, 'view']">{{ sorular.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="soruTest.testBolum">
              <a [routerLink]="['/bolum', soruTest.testBolum?.id, 'view']">{{ soruTest.testBolum?.bolumBaslik }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/soru-test', soruTest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/soru-test', soruTest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(soruTest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
