<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="yorum">
      <h2 data-cy="yorumDetailsHeading"><span jhiTranslate="gamificationApp.yorum.detail.title">Yorum</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ yorum.id }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.yorum.yazi">Yazi</span></dt>
        <dd>
          <span>{{ yorum.yazi }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.yorum.date">Date</span></dt>
        <dd>
          <span>{{ yorum.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.yorum.userYorum">User Yorum</span></dt>
        <dd>
          <span>{{ yorum.userYorum?.login }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.yorum.formYorum">Form Yorum</span></dt>
        <dd>
          <div *ngIf="yorum.formYorum">
            <a [routerLink]="['/form', yorum.formYorum?.id, 'view']">{{ yorum.formYorum?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/yorum', yorum.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
