<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="entry">
      <h2 data-cy="entryDetailsHeading"><span jhiTranslate="gamificationApp.entry.detail.title">Entry</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ entry.id }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.entry.title">Title</span></dt>
        <dd>
          <span>{{ entry.title }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.entry.content">Content</span></dt>
        <dd>
          <span>{{ entry.content }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.entry.date">Date</span></dt>
        <dd>
          <span>{{ entry.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.entry.foto">Foto</span></dt>
        <dd>
          <div *ngIf="entry.foto">
            <a (click)="openFile(entry.foto, entry.fotoContentType)">
              <img [src]="'data:' + entry.fotoContentType + ';base64,' + entry.foto" style="max-width: 100%" alt="entry image" />
            </a>
            {{ entry.fotoContentType }}, {{ byteSize(entry.foto) }}
          </div>
        </dd>
        <dt><span jhiTranslate="gamificationApp.entry.blog">Blog</span></dt>
        <dd>
          <div *ngIf="entry.blog">
            <a [routerLink]="['/blog', entry.blog?.id, 'view']">{{ entry.blog?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gamificationApp.entry.tag">Tag</span></dt>
        <dd>
          <span *ngFor="let tag of entry.tags; let last = last">
            <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entry', entry.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
