<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soru">
      <h2 data-cy="soruDetailsHeading"><span jhiTranslate="gamificationApp.soru.detail.title">Soru</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soru.id }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.soru.cevap">Cevap</span></dt>
        <dd>
          <span>{{ soru.cevap }}</span>
        </dd>
        <dt><span jhiTranslate="gamificationApp.soru.kazanimlar">Kazanimlar</span></dt>
        <dd>
          <span *ngFor="let kazanimlar of soru.kazanimlars; let last = last">
            <a [routerLink]="['/soru-kazanimlari', kazanimlar?.id, 'view']">{{ kazanimlar.kazanim }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/soru', soru.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
